#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 90%;
    margin: auto;
    background-color: #c4b5fd;
    border-radius: 10px;

}

#logo-container {
    display: flex;
    align-items: center;
    gap: 10px;

}

#logo {
    width: 50px;
    height: 50px;
}

#login {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#login img {
    width: 50px;
    cursor: pointer;
}

#container {
    width: 90%;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #c4b5fd;
    border-radius: 10px;
}

#list {
    width: 70%;
    height: 40px;
    display: flex;
    flex-direction: column;

}

#add-task {
    background-color: #faf7ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 10px;

}

#input-task {
    border: none;
    border-radius: 5px;
    width: 90%;
    margin: 5px;
    padding: 10px;
}

#add-button {
    margin-right: 5px;
    border: none;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: #A45EE9;
    background-image: url("/icons/plus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;

}

#task-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

#div-container {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: #faf7ff;
}

.check {
    width: 20px;
    height: 20px;
    border: none;

}

#delete-icon{
    width: 30px;
    height: 30px;
    border: none;
    background-color:#A45EE9;
    border-radius: 50px;
    margin-right: 5px;
    background-image: url("/icons/delete.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}

#side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
    width: 30%;
    background-color: #faf7ff;
    border-radius: 10px;
}

#calander-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #A45EE9;
    border-radius: 10px;
    width: 90%;
    height: 300px;

}

#notepad {
    background-color: #c4b5fd;
    border-radius: 10px;
    width: 90%;
    height: 200px;
}

#Storage {
    background-color: #c4b5fd;
    width: 90%;
    height: 40px;
    border-radius: 10px;
}